################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PYRoom.Server/__pycache__
/PyRoom.WPF/bin/Debug
/PyRoom.WPF/obj/Debug
